body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #838383;
    font-size: xx-large;
}

#container {
    display: flex;
    background-color: #63666A;
    border: solid #a9a9a9;
}

#container > p {
    padding: 0px 10px;
    color: #11FfEE;
    top: 50%;
}